ClienteSoap/calculator/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://docwrapped.classnoanno.fortest.tools.cxf.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Calculator" targetNamespace="http://docwrapped.classnoanno.fortest.tools.cxf.apache.org/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docwrapped.classnoanno.fortest.tools.cxf.apache.org/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docwrapped.classnoanno.fortest.tools.cxf.apache.org/">
            <xsd:element name="AddException" type="tns:AddException"/>
            <xsd:complexType name="AddException">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="addRequest" type="tns:addRequest"/>
            <xsd:complexType name="addRequest">
                <xsd:sequence>
                    <xsd:element name="a" type="xsd:int"/>
                    <xsd:element name="b" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addResponse" type="tns:addResponse"/>
            <xsd:complexType name="addResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="tns:addRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddException">
        <wsdl:part name="AddException" element="tns:AddException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CalculatorPortType">
        <wsdl:operation name="add">
            <wsdl:input name="addRequest" message="tns:addRequest">
    </wsdl:input>
            <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
            <!--<wsdl:fault name="AddException" message="tns:AddException">
    </wsdl:fault>-->
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="add">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <!-- <wsdl:fault name="AddException">
                <soap:fault name="AddException" use="literal"/>
            </wsdl:fault>-->
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Calculator">
        <wsdl:port name="CalculatorPort" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/gcascon/ws/calculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
